<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
    <div class="container flex justify-center p-4">
        <ul class="inline-flex -space-x-px">
            <li [ngClass]="{desibled:currentPage===0}" (click)="currentPage = currentPage - 1"
                class="cursor-pointer px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <a>Previous</a>
            </li>
            <ng-container *ngFor=" let image of images; let i = index">
                <li *ngIf="pageIndex(i)" [ngClass]="{active:i === currentPage}" (click)="currentPage =i"
                    class=" cursor-pointer px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300  hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <a>{{i + 1}}</a>
                </li>
            </ng-container>
            <li [ngClass]="{desibled:currentPage===images.length -1 }" (click)="currentPage = currentPage + 1"
                class="cursor-pointer px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <a>Next</a>
            </li>
        </ul>

    </div>
    <div class="container mt-2">
        <h1 appCustomDirective [backgroundColor]="'#FAFAFA'"
            class="text-center text-3xl capitalize font-bold  mb-6 bg-gray-400 rounded-lg p-2">
            {{images[currentPage].title}}</h1>
        <img class="block mx-auto h-96" [src]="images[currentPage].url" [alt]="images[currentPage].title">
    </div>
</body>

</html>