@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background: #374151 !important;
    color: #fff !important;
}

.desibled {
    background: #374151 !important;
    color: #fff !important;
    cursor: auto !important
}